* {
    font-family: "Space Grotesk", serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    gap: 24px
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.library-title {
    background-color: aquamarine;
    padding: 0 12px;
    margin: 0;
}

.library-description {
    max-width: 70%;
    text-align: center;
    margin: 0;
}

/* .description-document {
    background-color:rgb(193, 201, 247);
    padding: 0 2px;
} */

.book-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 16px;
    border: grey solid 2px;
    box-shadow: -6px 6px 0 0 black;
    align-items: start;
    width: 140px;
    gap: 8px
}

.book-container > p {
    margin: 0;
    padding: 0 4px;
}

.title-container, .author-container {
    height: 2.8em;
    overflow: hidden;
}

.book-title, .book-author{
    margin: 0;
    padding: 0 4px;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-title {
    background-color: beige;
    font-size: 1rem;
}

.button {
    padding: 8px 16px;
    font-family: "Space Grotesk", serif;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: -4px 4px 0 0 black;
    border: 0;
}

.add-book {
    background-color: rgb(198, 205, 255);
}

.add-book:hover {
    background-color: rgb(230, 233, 255);
}

.book-author {
    font-size: 0.85rem;
}

.book-pages {
    font-size: 0.75rem;
    font-weight: 600;
}


.library-container {
    display: flex;
    gap: 32px;
    margin: 12px 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.book-status {
    padding: 4px;
    border: 1px solid #ccc;
    background-color: white;
    align-self: stretch;
}

.book-status.status-read {background-color: hsl(161, 100%, 94%);}
.book-status.status-not-started {background-color: hsl(0, 0%, 96%);}
.book-status.status-reading {background-color: hsl(68, 100%, 96%);}
.book-status.status-archived {background-color: hsl(13, 88%, 87%);}

.book-form {
    border: 2px solid black;
    padding: 2rem;
    box-shadow: -8px 8px 0 0 black;
}

.book-form::backdrop {
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
}

.input-group {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 0.5rem;
}

.input-group > input, select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-family: inherit;
    width: 100%;
}

.input-group label {
    width: 160px;
}

.button-group {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 8px
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    
}

.delete-btn svg {
    width: 16px;
    height: auto;
}

.delete-btn:hover {
    transform: rotate(-5deg);
    transform-origin: 2px 3px;
    fill: rgb(226, 80, 80);
}



